@charset "utf-8";

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
}

.dc-embedded-container {
  width: 100%;
  border: 0;
  overflow: hidden;
  height: 100%;
  top: 0;
  left: 0;
}

.dc-sample-page-header {
  background-color: #1A1818;
  width: 100%;
  padding: 0.4em 0em;
  height: 1.3em;
  align-items: center;
  border-bottom: 5px solid #9b8b6b;
}

.dc-paneco-logo {
  height: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  font-size: 1.2em;
}

.dc-sample-page-section {
  padding-left: 1em;
  padding-right: 1em;
}

.dc-sample-page-footer {
  background-color: #4d362a;
  width: 100%;
  padding-top: 1.5em;
  padding-bottom: 0.3em;
  color: white;
  font-size: 0.9em;
}

.dc-sample-page-footer ul {
  list-style-type: none;
}

.dc-sample-page-footer a {
  color: white;
  text-decoration: none;
  background-color: transparent;
}

.dc-sample-page-copyright {
  text-align: center;
  font-size: smaller;
}
